@font-face {
  font-family: Fonts-Gilroy;
  src: url('../../font/Fonts-Gilroy.ttf');
}

.typographyStyle {
  font-family: Fonts-Gilroy;
}
.icon-small i {
  float: left;
  margin-right: 10px;
  height: 38px;
  width: 38px;
  color: #fff;
  background-color: #888;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
}

.icon-small + p {
  clear: left;
  margin-top: 15px;
}

.icon-small h4,
.icon-small h5 {
  text-align: left;
}
